<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit <%= task.name %> task</h1>
    <form action="/toDoList/<%= task.id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter task name"> <br>
        <label for="date">Start date:</label>
        <input type="date" name="date" id="date"> <br>
        <label for="note">Note:</label>
        <textarea name="note" id="note" cols="30" rows="10"></textarea> <br>
        <button>Submit</button>
    </form>
    <a href="/toDoList/<%= task._id %>">Cancel</a>
</body>
</html>