<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list app</title>
</head>
<body>
    <h1>Welcome to to-do-list application</h1>
    <p>Organize your application</p>
    <button><a href="/toDoList/account/login">Log in</a></button> 
    <button><a href="/toDoList/account/signup">Sign up</a></button>
</body>
</html>