.bird label {
    color: red;
}

h1,
h2,
h3 {
    font-size: 20px;
}

br+button {
    color: yellow;
    background-color: red;
}

input[type="password"] {
    color: greenyellow;
}

/* 
form[class="bird"] {
    background-color: green;
} */

form.bird {
    background-color: green;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: 1s ease-in, border-radius 2s;
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
}

section div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 3s;
}

#flex {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#flex div:nth-of-type(1) {
    
    background-color: red;
    flex-shrink: 2;
}
#flex div:nth-of-type(2) {
    background-color: blue;
}
#flex div:nth-of-type(3) {
    background-color: green;
    flex-grow: 2;
}

.space {
    display: flex;
    justify-content: center;
    padding: 10% 0;
}
