.bird label {
    color: red;
}

h1,
h2,
h3 {
    font-size: 20px;
}

br+button {
    color: yellow;
    background-color: red;
}

input[type="password"] {
    color: greenyellow;
}

/* 
form[class="bird"] {
    background-color: green;
} */

form.bird {
    background-color: green;
}